
<form action="{{ path('edit_profile') }}" method="post" {{ form_enctype(form) }}>

	<p>Username: 	{{ user.username }}, {{user.firstName}} </p>

    {{ form_widget(form) }}
	
    <input type="submit" class="login-button" value="Save changes" />
</form>