{% extends "base-template.html.twig" %}

{% block main %}
	
    <section id="history-details">
        <h1>History for Game {{game.id}}</h1>
		{% if game.winnerFlag == "draw" %} The game was a draw! 
		{% elseif game.winnerFlag == "lose" %} You lost this single-player game.
		{% elseif game.winnerFlag == "1" and game.numPlayers == "1" %} You won this single-player game!
		{% else %} Player {{game.winnerFlag}} won this multi-player game.
		{% endif %}
        <ul>
            {% for guess in guesses %}
			<li> {% if game.numPlayers == "1" %} You {% else %} Player {{guess.playerId}} {% endif %} guessed {% if guess.isFullWord %} {{guess.word}} {% else %} {{guess.letter}} {% endif %}</li>
			{% endfor %}
        </ul>
    </section>

{% endblock %}