{% extends "base-template.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	 <link rel="stylesheet" type="text/css" href="{{baseURL}}css/login-template-style.css" />
{% endblock %}

{% block main %}
	<section id="login">
	  {% if app.session.hasFlash('login') %}
            <div id="flashLogin">
            {{ app.session.flash('login') }}
            </div>
           {% endif %}

		<h2>Login</h2>
        {% include "login-form.html.twig" with {"form" : loginform} %}
	</section>
	
	<section id="register">
	   {% if app.session.hasFlash('reg') %}
            <div id="flashReg">
            {{ app.session.flash('reg') }}
            </div>
           {% endif %}

		<h2>Register</h2>
        <div id="show-reg">
  		    <a href="#" class="show-register-button btn" title="Show Registration Form">Register Now</a>
		</div>
		{% include "register-form.html.twig" with {"form" : regform} %}
	</section>
	
{% endblock %}

{% block scripts %}
    {{ parent() }}
	<script>
        $(document).ready(function(){
            $('#show-reg').toggle(function() {
				$('form#reg-form').removeClass('hidden');
			}, function() {
				$('form#reg-form').addClass('hidden');
			});
        });  
	</script>
{% endblock %}
