{% extends "base-template.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	 <link rel="stylesheet" type="text/css" href="/css/game-style.css" />
{% endblock %}


{% block main %}
	
    {% if app.session.hasFlash('gamemsg') %}
    <div id="flash-game-msg">
    {{ app.session.flash('gamemsg') }}
    </div>
    {% endif %}
     
	<section id="game-display">
	 <p>Current game state: {{game.currentState}} </p>
	 <p>Definition: {{game.dictionary.definition}} </p>
	 <p>{{ dump(game) }} </p>
	</section>
	
	<section id="player-stats">
	
	</section>

{% endblock %}