{% extends "base-template.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	 <link rel="stylesheet" type="text/css" href="{{baseURL}}css/game-style.css" />
{% endblock %}


{% block main %}
	
    {% if app.session.hasFlash('gamemsg') %}
    <div id="flash-game-msg">
    {{ app.session.flash('gamemsg') }}
    </div>
    {% endif %}
     
	<section id="game-display">
		<div id="game-state">
            {% for letter in game.lettersArray %}
            {% if letter !='_' %}
            <div class="letter">
            {% else %}
            <div class="letter blank">
            {% endif %}
                {{ letter }}
            </div>
            {% endfor %}
        </div>
		<div id="definition"><p>Definition: {{game.dictionary.definition}} </p></div>
		<div id="play">
			<form id="guess-form" method="post" action="{{ path('guess_single_player', {'id': game.id} ) }}">
				<div id="char-guess">Guess a character: <input type="text" name="letter" size="3" maxlength="1" /></div>
				<div id="word-guess">Guess a word: <input type="text" name="word" size="40" /></div>
				<input type="submit" value="Submit" />
			</form>
			<div id="guessed-chars">
				<p>Characters guessed:
					{% for guess in game.guesses %}
						{{guess.letter}}
						{% else %}
							none
					{% endfor %}
				</p>
			</div>
			<div id="p1-points">Game points: {{ game.score1 }}</div>
		</div>
	</section>
	
	<section id="player-stats">
	
	</section>

{% endblock %}
