{% extends "base-template.html.twig" %}

{% block main %}
	
    <section id="userInfo">
        <h1>Player Information</h1>
        <ul>
            <li>Your Score: {{ user.totalScore }}</li>
        </ul>
    </section>

	<section id="welcome-options">
		<a href="{{ path('create_single_player') }}" class="start-1player-game-button btn btn-large" title="Start 1-Player Game">Start 1-Player Game</a>
		<a href="{{ path('challenge_list') }}"  class="send-challenge-button btn btn-large" title="Send a Challenge">Send a Challenge</a>
	</section>
	
	<section id="challenges">
		<h2>Challenges</h2>
		<ul id="challenge-list">
			{% for challenge in recievedChallenges %}
				{% include 'ajax/challenge-rcv-list-item.html.twig'
                    with { 'id' : challenge.challengerId, 'cid' : challenge.id }%}
            {% else %}
                <li> No challenges </li>
			{% endfor %}
	</section>
    
    <section id="sent-challenges">
		<h2>Sent Challenges</h2>
		<ul id="sent-challenge-list">
			{% for challenge in sentChallenges %}
				{% include 'ajax/challenge-sent-list-item.html.twig' with
                    { 'id' : challenge.recipientId, 'game' : challenge.gameId, 'status' : challenge.status }%}
            {% else %}
                <li> No challenges </li>
			{% endfor %}
	</section>

    <section id="accepted-challenges">
		<h2>Accepted Challenges</h2>
		<ul id="accepted-challenge-list">
			{% for challenge in acceptedChallenges %}
				{% include 'ajax/challenge-sent-list-item.html.twig' with
                    { 'id' : challenge.recipientId, 'game' : challenge.gameId, 'status' : challenge.status }%}
            {% else %}
                <li> No challenges </li>
			{% endfor %}
	</section>

	<section id="gamelist">
		<h2>Games in Progress</h2>
		<ul>
			{% for game in games %}
				<li><a href="{{path("single_player", {'id':game.id})}}">Game {{ game.id}}</a>:
                    Current state: {{game.currentState}} (Score: {{game.score1}})</li>
				{% else %}
					<li> No games </li>
			{% endfor %}
		</ul>
	</section>
	
	<section id="leaderboard">
		<h3><a href="{{path("leaderboard")}}">Words with Strangers Leaderboard</a></h3>
	</section>
	
	<section id="history">
		<h3><a href="{{path("history")}}">Player History</a></h3>
	</section>
	
	{% if user.getIsAdmin() %}
		<section id="players">
			<h3><a href="{{path("view_players")}}">View Players</a></h3>
		</section>
	{% endif %}
	
{% endblock %}

{% block scripts %}
    {{ parent() }}
	<script>
        $(document).ready(function(){
            // poll for new challenges, update page
            setInterval(function() {
                    $.ajax({
                        url: '{{path('my_challenges')}}',
                        type: 'GET',
                        success: function(data) {
                            var existing = new Array();
                            var newchal = new Array();
                            for (challenge in data) {
                                if ($('#from-' + data[challenge].challengerId).length) {
                                    existing.push(data[challenge].challengerId);
                                } else {
                                    newchal.push(data[challenge].challengerId);
                                }
                            }
                            $('#challenge-list').empty();
                            for (challenge in data) {
                                var newLi = $(
                                    '<li id="from-' + data[challenge].challengerId
                                    + '">Challenge from ' + data[challenge].challengerId
                                    + '<a href="' + data[challenge].acceptLink
                                    + '" class="start-1player-game-button btn btn-small">Accept</a>'
                                    + '<a href="' + data[challenge].declineLink
                                    + '" class="start-1player-game-button btn btn-small">Deny</a></li>'
                                );
                                $('#challenge-list').append(newLi);
                                if ($.inArray(data[challenge].challengerId, newchal) != -1) {
                                    $(newLi).effect("highlight", {}, 5000);
                                }
                            }
                        },
                        statusCode: {
                            404: function(data) {
                                $('#challenge-list').empty();
                                $('#challenge-list').append(
                                    '<li>' + data.responseText
                                    + '</li>'
                                );
                            },
                        }
                    });
                }, 10000);
        });  
	</script>
{% endblock %}
