{% extends "base-template.html.twig" %}

{% block main %}
	
	<section id="welcome-options">
		<ul id="options-list">
			<li><a href="{{ path('create_single_player') }}" title="Start 1-Player Game">Start 1-Player Game</a></li>
			<li><a href="#" title="Send a Challenge">Send a Challenge</a></li>
	</section>
	
	<section id="challenges">
		<h2>Challenges</h2>
		<ul>
			{% for challenge in recievedChallenges %}
				<li>Challenge from {{challenge.challengerId}} <a href="#">Accept</a> <a href="#">Deny</a> </li>
				{% else %}
					<li> No challenges </li>
			{% endfor %}
	</section>
	
	<section id="gamelist">
		<h2>Games in Progress</h2>
		<ul>
			{% for game in games %}
				<li><a href="{{path("single_player", {'id':game.id})}}">Game {{ game.id}}</a> Current state:  {{game.currentState}}</li>
				{% else %}
					<li> No games </li>
			{% endfor %}
		</ul>
	</section>
	
	<section id="leaderboard">
		<h2>Words with Strangers Leaderboard</h2>
		<p>List/view of highest-scoring users</p>
	</section>

{% endblock %}